.App {
  min-height: 100vh;
  background: rgb(113, 187, 212);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  height: 250px;
  width: 250px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}